= simple_form_for payment, remote: true do |f|
  %div.grid
    %div.grid-6
      = f.input :amount
    %div.grid-6
      = f.input :paid_on, as: :date

  = f.input :payment_form_id, collection: payment_forms, include_blank: false

  %div.modal-footer
    = f.button :submit, 'Add', class: 'btn btn-primary', confirm: 'Are you sure you want to add this payment?'
