= entity_info_form contact do |form|
  %header.page-header.with-picture
    = image_tag(contact.image.header.url, alt: contact.name, class: 'thumbnail')
    %h1
      = render partial: 'name', locals: { form: form }
    %nav.actions
      - unless contact.new_record?
        = link_to icon_tag('trash', 'Delete', color: :white), url_for(contact), method: :delete, remote: true, confirm: 'Are you sure you want to delete this contact?', class: 'btn btn-small btn-danger'
        = link_to icon_tag('edit', 'Edit', color: :white), '#', class: 'btn btn-info btn-small', :'data-start-editing' => true
        = link_to icon_tag('remove', 'Cancel'), '#', class: 'btn btn-small', :'data-cancel-editing' => true
      = form.button :submit, icon_tag('ok', 'Save', color: :white), class: 'btn btn-info btn-small'


  - if contact.deleted?
    %div.alert.alert-block.alert-danger
      %h4.alert-heading This contact is deleted
      %p
        This contact is currently flagged as deleted, and will not appear in contact lists throughout Unify. If you want to restore this contact, you can do so below.
      %p
        = link_to 'Restore contact', url_for(controller: contact.class.name.underscore.pluralize, id: contact.id.to_s, action: :restore), method: :post, remote: true, confirm: 'Are you sure you want to restore this contact?', class: 'btn btn-small'

  %div.grid
    %div.grid-6
      %div.info-block
        - if contact.is_a?(Person)
          = render partial: '/employments/employments', locals: { form: form }
        - else
          %div.well.background
            %span.editable-value
              - if contact.background.blank?
                %span.muted No background information set.
              - else
                = format_description_text(contact.background)
            %span.editable-form
              = form.input_field :background, as: :text, placeholder: 'Background information', class: 'background'

      %div.info-block
        = render partial: '/addresses/addresses', locals: { addressable: contact, form: form }

    %div.grid-6
      %div.grid
        %div.grid-6
          = render partial: '/phone_numbers/phone_numbers', locals: { phoneable: contact, form: form }
          = render partial: '/websites/websites', locals: { websiteable: contact, form: form }
          = render partial: '/instant_messengers/instant_messengers', locals: { instant_messageable: contact, form: form }

        %div.grid-6
          = render partial: '/email_addresses/email_addresses', locals: { emailable: contact, form: form }
          = render partial: '/twitter_accounts/twitter_accounts', locals: { tweetable: contact, form: form }
          = render partial: '/sources/entity_source', locals: { entity: contact, form: form }
