= render 'sidebar'

%header.page-header
  %h1 Deals
  %ul.filter
    %li.text Showing
    %li.dropdown
      = filter_for :stage
    %li.text deals in
    %li.dropdown
      = filter_for :category
    %li.text matching
    %li.search
      = filter_for :keywords

= render 'deals'
